




.tle{  font-size: 28px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;}

  .inp{border-radius: 4px;}

  .btn-color{
    
  border-radius: 6px;}

  .n{margin: 4px;
  }