.container-f {
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  margin: auto;
  margin-top: 8vh;
}
.element {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 4px;
}
.container-movies {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  margin: 12px;
  margin-bottom: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
  border-radius: 8px;
  background: linear-gradient(to bottom, #444444, #999999);
}
.p-movies {
  height: 3.6em;
  margin-top: 40px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 0 0.5em;
}
.h-title {
  font-size: 1.1em;
  color: white;
  margin: 20px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  word-wrap: break-word;
}
.img-movies {
  position: relative;
  height: auto;
  padding: 5px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.img-movie {
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin-top: 26px;
}
.img-movie:hover {
  transform: scale(1.05);
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
  height: 100vh;
}
.my-popup-class {
  width: 400px !important;
  height: 320px !important;
  font-size: 14px !important;
}

@media (max-width: 1024px) {
  .img-movie {
    flex-direction: column;
    width: 90%;
    margin: 8px auto;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    height: 50vh;
  }
}

@media (max-width: 1024px) {
  .img-movies {
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
  }
}

@media (max-width: 1024px) {
  .h-title {
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .container-movies {
    flex-direction: column;
    width: 70%;
    margin: 8px auto;
    margin-top: 40px;
  }
}
