.container-f {
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: auto;
  margin-top: 4vh;
}

.container-movies {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  margin: 2em 0.5em 1em 0.5;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px rgba(0, 0, 0, 0, 19);
}

.p-movies {
  height: auto;
  color: white;
}

.h-title {
  font-size: 1.3em;
  color: white;
  margin: 50px;
}

.img-movies {
  position: relative;

  height: auto;

  padding: 5px;
  text-align: center;
}

.img-movie {
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.img-movie:hover {
  transform: scale(1.05);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
  height: 100vh;
}

.my-popup-class {
  width: 400px !important;
  height: 320px !important;
  font-size: 14px !important;
}

@media (max-width: 600px) {
  .container-movies {
    flex-direction: column;
  }
}
