* {
  text-decoration: none;
}

.details-container {
  display: flex;
  justify-content: center;
  color: white;
}

.container-movies {
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px rgba(0, 0, 0, 0, 19);
  float: left;
  width: 350px;
  display: flex;

  justify-content: center;
}

.img-col {
  margin-left: 10%;
  margin-top: 16vh;
  width: 20%;
  height: 20%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.col {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  color: white;
 margin-bottom: 20px;
 margin-right: 20px;
}

.p-details{font-size: 40px;
margin-top: 140px;}

.h-details{font-size: 60px;}

@media (max-width: 600px) {
  .details-container {
    flex-direction: column;
  }
  .container-movies {
    flex-direction: column;
  }
  .img-col {
    width: 80%;
    margin: auto;
  }
  .col {
    width: 80%;
  }
}
