.custom-navbar {
  height: 50px;
  border: 1px solid gray;
  border-radius: 2px;
  opacity: 1;
}

.navbar-expand-md {
  background-color: red;
}

.navbar-nav {
  margin-left: -102px;
}

.welcome {
  color: black;

  font-size: 22px;
  margin-left: -400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-title {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.nav-title:hover {
  color: gray;
}

.mode {
  margin-left: 260px;
}
