

.navbar-expand-lg{height: 50px;
    border: 2px solid gray;
   
    opacity: 0.8;
    
}

.custom-navbar{
    background-color: gray;
 
}
  





.welcome{ color: black;
    font-size: 30px;
    margin-right: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
