.custom-navbar {
  height: 50px;
  background-color: rgb(12, 105, 226);
  border-radius: 2px;
  background-color: transparent;
  box-shadow: none;
  height: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
  border-radius: 4px;
  background: linear-gradient(to bottom, #444444, #999999);
}
.custom {
  background-color: transparent !important;
}

.nav-link {
  color: #fff !important; /* blanco */
  font-weight: 610 !important;

  font-family: "Roboto", sans-serif;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #0062cc !important;
}

.nav-title {
  text-decoration: none;
  font-size: 20px;
  font-weight: 610 !important;
  margin-top: -3px;
  margin-left: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}

#basic-nav-dropdown {
  font-size: 20px;
  margin-top: -3px;
  margin-left: 20px;
}
.navbar-toggler-icon {
  font-size: 1rem !important;
  border-color: red;
}
.Navbar.Toggle {
  margin-left: auto !important;
}

.custom-navbar .navbar-toggler {
  margin-top: -10px;
  margin-left: auto !important;
  border: 2px solid black;
}

.navbar-nav .dropdown-menu {
  /* background: url("../estilos.css/imagenes.jpg/fondo.jpg"); */
  background-color: rgb(20, 158, 177);
  opacity: 0.9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nav-title:hover {
  color: #0062cc !important;
}

.navbar-nav {
  margin-left: -102px;
}

.welcome {
  color: white;
  font-size: 22px;
  margin-left: -400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mode {
  margin-left: 260px;
}
