

.tit{   font-size: 28px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;}

  .inp-stl{ border-radius: 4px;}

  .n{margin: 4px;
  }


  .btn-color{
    
    border-radius: 6px;}