.searchContainer {
  display: flex;
  margin: 32px;
 
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 40px;
}

.searchInput {
  height: 30px;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
  margin-left: 170px;
  border: none;
  margin-top: 80px;
 
 
 
}

@media (max-width: 600px) {
  .searchBox {
    flex-direction: column;
  }
}
