.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.searchBox {
  max-width: 500px;
  max-height: 70px;
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  margin-top: 40px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px;
  background-color: #123456;
  color: white;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .searchBox {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 100%;
  }

  .searchInput {
    margin-top: 20px;
    margin-right: 0;
  }

  .searchButton {
    margin-top: 20px;
  }
}
