.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* ajusta el margen superior según sea necesario */
  margin-bottom: 10px;
}

.searchBox {
  max-width: 500px; /* establece un ancho máximo para el contenedor de búsqueda */
  max-height: 70px; /* establece una altura máxima para el contenedor de búsqueda */
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  margin-top: 40px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px;
  background-color: #123456;
  color: white;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .searchBox {
    flex-direction: column;
    align-items: center;
  }
}
